<main class = "mdl-layout__content">    
    <div class = "mdl-grid">
        <div id="home-page-spacer-cell" class="mdl-cell mdl-cell--12-col mdl-layout--large-screen-only" style="height: 50px;"></div>
        <div id="home-page-title-cell" class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <h1 class="mdl-layout--large-screen-only" style="font-family: 'Quasimoda' !important;">Welcome to your personal <b>newsdesk.</b></h1>
            <h1 class="mdl-layout--small-screen-only" style="font-size: 60px !important; font-family: 'Quasimoda' !important;">Welcome to your personal <b>newsdesk.</b></h1>
        </div>
        <div id="home-page-form-cell" class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            {% include "home/getting-started-form.html" %}
        </div>
    </div>
</main>