<div class="mdl-cell search-bar">
    <form action="/" class="search-form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button--fab mdl-js-button search-button" for="sample6" style="background-color: white;">
                <i class="material-icons" style="color: black; background-color: white; margin: auto;">search</i>
            </label>                
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input search-field" type="text" id="sample6" style="color: black; font-size: 25px; margin-left: 0px;">
            </div>
        </div>
    </form>
</div>