<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">
        <a href="/" style="text-decoration-color: black !important;"><div class="mdl-icon logo-text" style="color: black;"><img src="static/assets/boldd_logo_black.svg" height="40px" width="40px">Bespoke</div></a>
    </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="https://github.com/austinserif/capstone-bespoke">Docs</a>
    <a class="mdl-navigation__link" href="https://github.com/austinserif/capstone-bespoke">About</a>
    <a class="mdl-navigation__link" href="https://github.com/austinserif/capstone-bespoke">Contact</a>
    {% include "login/logout-link.html" %}
  </nav>
</div>